{% if extrainfo %}

<div id="more-info" class="sticky">
<div class="container">
    
	<h3><strong>Worth noting</strong></h3>
	
	<div class="row">
	
		<div class="col-sm-2">
			<img style="width: 100px; height: 100px; border-radius: 50%; background-position: center;" src="/media/{{ extrainfo.mugshot }}">
			<!-- {% if candidates %}<div class="clearfix" style="margin-top:20px;"></div><span class="label label-info">Candidate</span>{% endif %} -->
			<h4>{{ extrainfo.name|title }}</h4>
			<h5><em>{{ extrainfo.title }}</em></h5>
		</div>
		
		<div class="col-sm-6">
			
			<p>{{ extrainfo.description|safe|linebreaks }}</p>
    
		</div>
		
		<div class="col-sm-4">
	
			{% if candidates %}
			<p>{{ extrainfo.name|title }} has run for:</p>
        
			<table class="table table-condensed">
				<tbody>
			{% for cand in candidates %}
				<tr>
					<td><strong>{{ cand.office_title }}</strong></td>
					<td class="r">Committee: <a href="/campaign-finance/{{ cand.committee.canonical }}/{{ cand.committee.standard_name|slugify }}">{{ cand.committee.standard_name|title }}</a></td>
				</tr>
			{% endfor %}
				</tbody>
			</table>
			
			<p>
				<a href="/campaign-finance/{{ extrainfo.canonical }}/{{ extrainfo.name|slugify }}">Related!</a>
			</p>
			{% endif %}

		</div>
			
	</div>
    
</div>
</div>
{% endif %}