{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
   
    <title>{% block title %}{% endblock %}Nebraska Campaign Finance - Omaha World-Herald - Dataomaha.com</title>

    {% block social %}
    <meta name="description" content="Who's influencing Nebraska politics? Find out with the only source that lets you search for the people bankrolling the process.">

	<meta property="og:title" content="Nebraska Campaign Finance">
	<meta property="og:url" content="XXXXXXXXXX">
	<meta property="og:image" content="XXXXXXXXXX">
	<meta property="og:site_name" content="Dataomaha.com">
	<meta property="og:description" content="Who's influencing Nebraska politics? Find out with the only source that lets you search for the people bankrolling the process.">
	<meta property="fb:app_id" content="117714391577072">
	
    <!-- Twitter Card - Large image // Docs: https://dev.twitter.com/cards/types/summary-large-image -->	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@OWHnews">
	<meta name="twitter:creator" content="@dataomaha"><!-- change this to author's account, if applicable -->
	<meta name="twitter:title" content="Nebraska Campaign Finance">
	<meta name="twitter:description" content="Who's influencing Nebraska politics? Find out with the only source that lets you search for the people bankrolling the process.">
	<meta name="twitter:image:src" content="">
    {% endblock %}
	
    <!-- Bootstrap base layer -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    
    <!-- Custom styles -->
    <link href="{% static "nadc/base.css" %}" rel="stylesheet">
    {% block morestyles %}{% endblock %}
    
    <!-- Font Awesome icons, v4.4 -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	<!-- google analytics for dataomaha -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-17420602-3']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
 
	<!-- /google analytics -->
	
	<!-- BH Media Google Analytics  -->

		<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-43117949-3', 'omaha.com');
			  ga('send', 'pageview');
		</script>
		
	<!-- /BH Media Google Analytics   -->

	</head>

 
    <body>
        {% block content %}{% endblock %}
	</body>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://www.dataomaha.com/media/scripts/underscore-min.js"></script>
    {% block scripts %}{% endblock %}
  
    <!--
		<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

		<script type="text/javascript">
			var _sf_async_config={};
			/** CONFIGURATION START **/
			_sf_async_config.uid = 52047;
			_sf_async_config.domain = 'omaha.com';
			_sf_async_config.useCanonical = true;
			_sf_async_config.sections = 'XXXXXXXXXX'; 
			_sf_async_config.authors = 'Omaha.com';
			/** CONFIGURATION END **/
			(function(){
			  function loadChartbeat() {
				window._sf_endpt=(new Date()).getTime();
				var e = document.createElement('script');
				e.setAttribute('language', 'javascript');
				e.setAttribute('type', 'text/javascript');
				e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
				document.body.appendChild(e);
			  }
			  var oldonload = window.onload;
			  window.onload = (typeof window.onload != 'function') ?
				 loadChartbeat : function() { oldonload(); loadChartbeat(); };
			})();
		</script>

	
    -->
</html>