{% extends 'nadc/base.html' %}
{% load humanize %}
{% load searchwidget %}

{% block social %}{% endblock %}


{% block content %}

	{% include 'nadc/nav.html' %}

	<div class="container top">

		<div class="row">
			<h1>What we've learned</h1>
			<p class="lead">Some summary junk up here and here and some more of that stuff here and there and everywehre.</p>
			
			<hr />
		
		</div>

		<div class="row">

			<div class="col-sm-3 sticky">
				<p>On this side we'll have some words about the specific <b>cool stuff we learned</b> in a story. A sentence or two. Or maybe a pull quote or something.</p>
			</div>

			<div class="col-sm-8 col-sm-offset-1">
				<h2><a href="" target="_blank">On this side we'll have the headline</a></h2> 
				<p>and then a summary linked to Omaha.com and the summary shouldn't repeat the stuff on the left side if we can avoid it.</p>
				<p class="small text-muted">Date goes here</p>
			</div>
		
		</div>

		<br><br>
		
		<div class="row">

			<div class="col-sm-3 sticky">
				<p><b>Newspapers for Nebraska</b> gave more money to candidates in 2015 than any other.</p>
			</div>

			<div class="col-sm-8 col-sm-offset-1">
				<h2><a href="" target="_blank">State's top PAC might surprise you</a></h2> 
				<p>The midsize PAC gave more than $250,000 to candidates who have pledged to support newspaper carriers.</p>
				<p class="small text-muted">Oct. 14, 2015</p>
			</div>
		
		</div>

	</div>
		

{% endblock %}