{% extends 'nadc/base.html' %}
{% load staticfiles %}
{% load additionalinfo %}
{% load humanize %}

{% block title %}{% endblock %}

{% block morestyles %}
    <link href="{% static "nadc/entity.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 80px;">

<div class="col-sm-9">

<h1><b>{% if name.standard_name %}{{ name.standard_name }}{% else %}{{ name.cand_name }}{% endif %}</b></h1>
{% if name.city and name.state %}<h4>{{ name.city|title }}, {{ name.state }}</h4>{% endif %}
{% if name.dissolved_date %}<h4>(Committee dissolved in {{ name.dissolved_date|date:"o" }}</h4>{% endif %}
{% if name.employer or name.occupation or name.place_of_business %}<h4>{{ name.occupation|title }} at {{ name.employer|title }}, {{ name.place_of_business|title }}</h4>{% endif %}
{% if gets %}<h4><a href="http://www.nadc.nebraska.gov/ccdb/search.cgi?page=details&type=committee&IDNO={{ name.nadcid }}" target="_blank">Official NADC records</a></h4>{% endif %}


{% if gives %}
<h3 class="bold" style="margin-bottom:0;">${{ totalcashdonated.cash__sum|add:totalinkinddonated.inkind__sum|intcomma }}</h3>
<p class="small ital">CASH AND IN-KIND DONATIONS</p>
{% endif %}
{% if gets %}
<h3 class="bold" style="margin-bottom:0;">${{ totalcashreceived.cash__sum|add:totalinkindreceived.inkind__sum|intcomma }}</h3>
<p class="small ital">RAISED</p>
{% endif %}
{% if normal_expenditures %}
<h3 class="bold" style="margin-bottom:0;">${{ normal_spent.amount__sum|intcomma }}</h3>
<p class="small ital">SPENT</p>
{% endif %}
{% if ind_expenditures %}
<h3 class="bold" style="margin-bottom:0;">${{ ind_spent.amount__sum|intcomma }}</h3>
<p class="small ital">SPENT DIRECTLY IN OTHER POLITICAL RACES</p>
{% endif %}
{% if loans %}
<h3 class="bold" style="margin-bottom:0;">${{ totalborrowed.loan_amount__sum|intcomma }}</h3>
<p class="small ital">BORROWED</p>
{% endif %}

{% comment %}
{% if comm_candidates %}
    <h4>Candidate{{ comm_candidates|pluralize }} supported</h4>
    <ul>
    {% for can in comm_candidates %}
    {% if can.stance == "0" %}
        <li>{{ can.cand_name|title }} ({{ can.office_desc|title }} {{ can.office_title|title }})</li>
    {% endif %}
    {% endfor %}
    </ul>
    {% if comm_candidates.count > 1 %}
    <h4>Candidate{{ comm_candidates|pluralize }} opposed</h4>
    <ul>
    {% for can in comm_candidates %}
    {% if can.stance == "1" %}
        <li>{{ can.cand_name|title }} ({{ can.office_desc|title }} {{ can.office_title|title }})</li>
    {% endif %}
    {% endfor %}
    </ul>
    {% endif %}

{% endif %}
{% endcomment %}

{% if person_candidates %}
    <h4>{% for can in person_candidates %}{% if forloop.first %}{{ can.cand_name|title }}{% endif %}{% endfor %} ran for office {{ person_candidates.count|apnumber }} time{{ person_candidates.count|pluralize }}.</h4>
    {% for can in person_candidates %}
        <li><a href="/campaign-finance/candidate/{{ can.cand_id }}">{{ can.cand_name|title }} ({{ can.office_desc|title }} {{ can.office_title|title }})</a></li>
    {% endfor %}
{% endif %}

<p>{{ name.standard_name|title }} {% if gives %}gave {{ gives.count|apnumber|intcomma }} donation{{ gives.count|pluralize }}{% endif %}{% if not gets %} between {{ first }} and {{ mostrecent }}.{% else %} {% if gives and gets %}and{% endif %} received {{ gets.count|apnumber|intcomma }} contribution{{ gets.count|pluralize }} between {{ first }} and {{ mostrecent }}. {% endif %}{% if comm_candidates %}This committee backed {% for candidate in comm_candidates %}{% if candidate.stance = "0" %}<a href="/campaign-finance/{{ candidate.cand_id }}/{{ candidate.cand_name|slugify }}">{{ candidate.cand_name|title }}</a> for {{ candidate.office_desc|title }} {{ candidate.office_title|title }}{% if not forloop.last %}{% if comm_candidates.count > 2 %}{% if not forloop.last %}, {% else %} and {% endif %} {% else %} and {% endif %}{% endif %}{% endif %}{% endfor %}{% endif %}</p>



<hr><hr>


CLICK DUDER LINKS HERE:

{% if gets %}
Raised
{% endif %}

{% if gives %}
Donated
{% endif %}

{% if ind_expenditures or normal_expenditures %}
Spent
{% endif %}

{% if loans %}
Loans
{% endif %}

<h2 class="bold" id="display_hed"></h2>
<div id="display_graphics"></div>
<div id="display_table"></div>


<!-- killing all this eventually -->

{% if normal_expenditures %}

	<h2>EXPENDITURES</h2>
	<table class="table table-condensed">
		<thead>
			<th>Paid to</th>
			<th>For</th>
			<th class="r">Date</th>
			<th class="r">Amount</th>
		</thead>
		<tbody>
		
		{% for exp in normal_expenditures %}
			<tr>
				<td>{{ exp.payee|title }}</td>
				<td>{% if exp.exp_purpose %}{{ exp.exp_purpose|title }}{% else %}Not reported{% endif %}</td>
				<td class="r">{{ exp.exp_date }}</td>
				<td class="r">{% if exp.amount > 0 %}${{ exp.amount|intcomma }}{% else %}${{ exp.in_kind|intcomma }} (In-kind){% endif %}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if ind_expenditures %}

	<h2>POLITICAL SPENDING</h2>
    <h4>Spending to support candidates or causes</h4>
	<table class="table table-condensed">
		<thead>
            <th>Supporting</th>
			<th>Paid to</th>
			<th>For</th>
			<th class="r">Date</th>
			<th class="r">Amount</th>
		</thead>
		<tbody>
		{% for exp in ind_expenditures %}
        {% if exp.stance == "0" %}
			<tr>
                <td>{% if exp.target_committee %}<a href="/campaign-finance/{{ exp.target_committee.pk }}/{{ exp.target_committee.standard_name|slugify }}">{{ exp.target_committee.standard_name|title }}</a>{% endif %}{% if exp.target_candidate %}<a href="/campaign-finance/{{ exp.target_candidate.pk }}/{{ exp.target_candidate.cand_name|slugify }}">{{ exp.target_candidate.cand_name }}</a>{% endif %}</td>
				<td>{{ exp.payee|title }}</td>
				<td>{% if exp.exp_purpose %}{{ exp.exp_purpose|title }}{% else %}Not reported{% endif %}</td>
				<td class="r">{{ exp.exp_date }}</td>
				<td class="r">{% if exp.amount > 0 %}${{ exp.amount|intcomma }}{% else %}${{ exp.in_kind|intcomma }} (In-kind){% endif %}</td>
			</tr>
        {% endif %}
        {% endfor %}
		</tbody>
	</table>
    
    <h4>Spending to attack candidates or causes</h4>
	<table class="table table-condensed">
		<thead>
            <th>Opposing</th>
			<th>Paid to</th>
			<th>For</th>
			<th class="r">Date</th>
			<th class="r">Amount</th>
		</thead>
		<tbody>
		{% for exp in ind_expenditures %}
        {% if exp.stance == "1" %}
			<tr>
                <td>{% if exp.target_committee %}{{ exp.target_committee.standard_name|title }}{% endif %}{% if exp.target_candidate %}{{ exp.target_candidate.cand_name }}{% endif %}</td>
				<td>{{ exp.payee|title }}</td>
				<td>{% if exp.exp_purpose %}{{ exp.exp_purpose|title }}{% else %}Not reported{% endif %}</td>
				<td class="r">{{ exp.exp_date }}</td>
				<td class="r">{% if exp.amount > 0 %}${{ exp.amount|intcomma }}{% else %}${{ exp.in_kind|intcomma }} (In-kind){% endif %}</td>
			</tr>
        {% endif %}
        {% endfor %}
		</tbody>
	</table>
    
    <h4>Spending that wasn't identified as being in opposition or support</h4>
	<table class="table table-condensed">
		<thead>
            <th>Targeting</th>
			<th>Paid to</th>
			<th>For</th>
			<th class="r">Date</th>
			<th class="r">Amount</th>
		</thead>
		<tbody>
		{% for exp in ind_expenditures %}
        {% if exp.stance == "" %}
			<tr>
                <td>{% if exp.target_committee %}{{ exp.target_committee.standard_name|title }}{% endif %}{% if exp.target_candidate %}{{ exp.target_candidate.cand_name }}{% endif %}</td>
				<td>{{ exp.payee|title }}</td>
				<td>{% if exp.exp_purpose %}{{ exp.exp_purpose|title }}{% else %}Not reported{% endif %}</td>
				<td class="r">{{ exp.exp_date }}</td>
				<td class="r">{% if exp.amount > 0 %}${{ exp.amount|intcomma }}{% else %}${{ exp.in_kind|intcomma }} (In-kind){% endif %}</td>
			</tr>
        {% endif %}
        {% endfor %}
		</tbody>
	</table>
    
{% endif %}

{% if loans %}
	<h2>LOANS</h2>
	
	<h3>Loans taken</h3>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Lender</th>
				<th>Date borrowed</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for loan in loans %}
			{% if loan.loan_amount > 0 %}
			<tr>
				<td>{{ loan.lender_name }}</td>
				<td>{{ loan.loan_date }}</td>
				<td>${{ loan.loan_amount|intcomma  }}</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
	
    {% if loan.loan_repaid > 0 %}
	<h3>Loans repaid</h3>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Lender</th>
				<th>Date repaid</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for loan in loans %}
			<tr>
				<td>{{ loan.lender_name }}</td>
				<td>{{ loan.loan_date }}</td>
				<td>${{ loan.loan_repaid|intcomma  }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
    {% endif %}

    {% if loan.loan_forgiven > 0 %}
	<h3>Loans forgiven</h3>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Lender</th>
				<th>Date forgiven</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for loan in loans %}
			<tr>
				<td>{{ loan.lender_name }}</td>
				<td>{{ loan.loan_date }}</td>
				<td>${{ loan.loan_forgiven|intcomma  }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
    {% endif %}
	
{% endif %}

{% if gives %}
<!-- underscore template for "gives" table" -->
<script type="text/html" class="gives_table_template">
    <table class="table">
        <thead>
            <tr>
                <th>Recipient (number)</th>
                <th class="r">Total</th>
            </tr>
        </thead>
        <tbody>
        <% _.each( data_to_template, function( d ){ %>
            <tr>
                 <td><a href="/campaign-finance/<%= d.id %>/<%= slugify(d.name) %>"><%= d.name %></a> (<%= d.gives.length %>)</td>
                 <td>$<%= addCommas(d.sum.toFixed(2).replace(".00","")) %>&ensp;<i class="fa fa-plus gray click_to_expand" data-toggle="tooltip" title="Click for more details"></i></td>
            
            <!-- here's the loop with the stuff to show/hide -->
            <td>
                    <% _.each( d.gives, function( ind_don ){ %>
                        Date: <%= toAPDate(ind_don.donation_date) %><br>
                        Amount: $<%= addCommas(sum([ind_don.cash, ind_don.inkind]).toFixed(2).replace(".00","")) %><br><br>
                    <% }); %>
            </td>
            <!-- // -->
            
            </tr>
        <% }); %>
        </tbody>
    </table>
</script>

{% if groupedgives.count > 5 %}
<!-- underscore template for "gives" bar charts" -->
<script type="text/html" class="gives_chart_template">
<h3 class="bold">Top committees supported</h3>
<% _.each( data_to_template.topfive, function( d ){ %>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-md-5"><a class="bold" href="/campaign-finance/<%= d.id %>/<%= slugify(d.name) %>"><%= d.name %></a> ($<%= addCommas(Math.round(d.sum)) %>)</div>
        <div class="col-md-7">
            <div class="row" id="topper" style='margin:0px; background: -webkit-gradient(linear, left top,right top, color-stop(<%= getPct(d.sum, data_to_template.overall_tot) %>%,#4cae4c), color-stop(<%= getPct(d.sum, data_to_template.overall_tot) %>%,#eee)); background: -moz-linear-gradient(left center, #4cae4c <%= getPct(d.sum, data_to_template.overall_tot) %>%, #eee <%= getPct(d.sum, data_to_template.overall_tot) %>%); background: -o-linear-gradient(left,#4cae4c <%= getPct(d.sum, data_to_template.overall_tot) %>%, #eee <%= getPct(d.sum, data_to_template.overall_tot) %>%); linear-gradient(to right,#4cae4c <%= getPct(d.sum, data_to_template.overall_tot) %>%, #eee <%= getPct(d.sum, data_to_template.overall_tot) %>%)'>
                <div class="pull-right" style="text-align:right;">
                    <p class="bold" style="margin:5px 5px auto auto;"><%= getPct(d.sum, data_to_template.overall_tot).toFixed(2) %>%</p>
                </div>
            </div>
        </div>
    </div>
<% }); %>
<hr>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-5"><%= data_to_template.rest.num %> other recipient<%= jankPluralize(data_to_template.rest.num) %> ($<%= addCommas(Math.round(data_to_template.rest.tot)) %>)</div>
        <div class="col-md-7">
            <div class="row" id="topper" style='margin:0px; background: -webkit-gradient(linear, left top,right top, color-stop(<%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%,#4cae4c), color-stop(<%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%,#eee)); background: -moz-linear-gradient(left center, #4cae4c <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%, #eee <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%); background: -o-linear-gradient(left,#4cae4c <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%, #eee <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%); linear-gradient(to right,#4cae4c <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%, #eee <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%)'>
                <div class="pull-right" style="text-align:right;">
                    <p class="bold" style="margin:5px 5px auto auto;"><%= getPct(data_to_template.rest.tot, data_to_template.overall_tot).toFixed(2) %>%</p>
                </div>
            </div>
        </div>
    </div>
</script>
{% endif %}{# end if groupedgives #}
{% endif %}{# end if gives #}


{% if gets %}
<!-- underscore template for "gets" table" -->
<script type="text/html" class="gets_table_template">
    <table class="table">
        <thead>
            <tr>
                <th>Donor (number)</th>
                <th class="r">Total</th>
            </tr>
        </thead>
        <tbody>
        <% _.each( data_to_template, function( d ){ %>
            <tr>
                 <td><a href="/campaign-finance/<%= d.id %>/<%= slugify(d.name) %>"><%= d.name %></a> (<%= d.gives.length %>)</td>
                 <td>$<%= addCommas(d.sum.toFixed(2).replace(".00","")) %>&ensp;<i class="fa fa-plus gray click_to_expand" data-toggle="tooltip" title="Click for more details"></i></td>
            
            <!-- here's the loop with the stuff to show/hide -->
            <td>
                    <% _.each( d.gives, function( ind_don ){ %>
                        Date: <%= toAPDate(ind_don.donation_date) %><br>
                        Amount: $<%= addCommas(sum([ind_don.cash, ind_don.inkind]).toFixed(2).replace(".00","")) %><br><br>
                    <% }); %>
            </td>
            <!-- // -->
            
            </tr>
        <% }); %>
        </tbody>
    </table>
</script>

{% if groupedgets.count > 5 %}
<!-- underscore template for "gets" bar charts" -->
<script type="text/html" class="gets_chart_template">
<h3 class="bold">Top donors</h3>
<% _.each( data_to_template.topfive, function( d ){ %>
    
<% }); %>
</script>
{% endif %}{# end if groupedgets #}
{% endif %}{# end if gets #}




</div><!-- left side -->

<div class="col-sm-3">{% additionalinfo id %}</div>

</div>
{% endblock %}

{% block scripts %}
<script src="http://www.dataomaha.com/media/scripts/owh-utils.js"></script>
<script>

    var jankPluralize = function(num) {
        if (Number(num) === 1) {
            return "";
        } else {
            return "s";
        };
    }
    
    // set global template variable
    _.templateSettings.variable = "data_to_template";

    // function to populate the table and hed
    var makeTable = function(table_template, data, hed) {
        $("#display_table").html(table_template(data));
        $("#display_hed").html(hed)
        
        //bind click event to drop table
        $(".click_to_expand").bind("click", function(d) {
            // this is where we do the javascript to show/hide table rows
        });
    };
    
    // function to make the chart
    var makeChart = function(chart_template, chart_data) {
        $('#display_graphics').html(chart_template(chart_data));
    };
    
    var sum = function(ls) {
        return _.reduce(ls, function(memo, num){ return memo + num; }, 0);
    };
    
    {% if gives %}
    // cash and in-kind donations
    var gives = [{% for record in gives %}{"donation_date":"{{ record.donation_date|date:"o-m-d" }}", "inkind": {{ record.inkind }}, "cash":{{ record.cash }},  "recipient_id":"{{ record.recipient.nadcid }}", "recipient_name":"{{ record.recipient.standard_name }}"}{% if not forloop.last %},{% endif %}{% endfor %}];
    
    // define templates
    var gives_chart_template = _.template($( "script.gives_chart_template" ).html());
    var gives_table_template = _.template($( "script.gives_table_template" ).html());
    
    // get the donation total
    var gives_cash_and_inkind = _.pluck(gives, "cash").concat(_.pluck(gives, "inkind"));
    
    // group donations by ID
    var gives_out = _.chain(gives)
        .groupBy("recipient_id")
        .map(function(value, key) {
            return {
                id: key,
                sum: sum(_.pluck(value, "cash").concat(_.pluck(value, "inkind"))),
                name: _.pluck(value, "recipient_name")[0],
                gives: value
            }
        })
        .sortBy("sum").reverse()
        .value();

    {% if groupedgives.count > 5 %}
    
    // define template
    var gives_chart_template = _.template($( "script.gives_chart_template" ).html());
    
    var top5 = _.first(gives_out, 5);
    var restnum = gives_out.length - 5;
    var ot = sum(gives_cash_and_inkind);
    var rest_tot = sum(gives_cash_and_inkind) - sum(_.pluck(top5, "sum"));
    
    var gives_for_chart = {
        overall_tot: ot,
        topfive: top5,
        rest: {
                num: restnum,
                tot: rest_tot
        }
    };
    
    {% endif %}{# end if groupedgives.count > 5 #}
    {% endif %}{# end if gives #}
      
    {% if gets %}
    var gets = [{% for record in gets %}{"donation_date":"{{ record.donation_date|date:"m-d-o" }}", "inkind": {{ record.inkind }}, "cash":{{ record.cash }},  "donor_id":"{{ record.donor.canonical }}", "donor":"{{ record.donor.standard_name }}"}{% if not forloop.last %},{% endif %}{% endfor %}];
    
    // define templates
    var gets_chart_template = _.template($( "script.gets_chart_template" ).html());
    var gets_table_template = _.template($( "script.gets_table_template" ).html());
    
    // group gets by donor
    var gets_out = _.chain(gets)
        .groupBy("donor_id")
        .map(function(value, key) {
            return {
                id: key,
                sum: sum(_.pluck(value, "cash").concat(_.pluck(value, "inkind"))),
                name: _.pluck(value, "donor")[0],
                gives: value
            }
        })
        .sortBy("sum").reverse()
        .value();
    
    // get the donation total
    var gets_cash_and_inkind = _.pluck(gets, "cash").concat(_.pluck(gets, "inkind"));
    
    //{"donation_date":"10-19-2015", "inkind": 0.00, "cash":1000.00,  "donor_id":"99CUA00091", "donor":"ANHEUSER-BUSCH COMPANIES"}
      
      
    {% endif %}

    $(document).ready(function() {
        // pass data to templates for initial pageload
        {% if gives %}
        makeTable(gives_table_template, gives_out, "Donations");
        makeChart(gives_chart_template, gives_for_chart);
        {% endif %}
        
        {% if gets and not gives %}
        makeTable(gets_table_template, gets_out, "Donations received");
        makeChart(gets_chart_template, gets_for_chart);       
        {% endif %}
        
    });
      
/*
var timelinegives = [
{% for row in allgives %}
    [{{ forloop.counter }}, {{ row.total }}]{% if not forloop.last %},{% endif %}
{% endfor %}
];
var dataset = [{ data: timelinegives, color: "#5482FF" }];
var ticks = [ {% for row in allgives %}
    [{{ forloop.counter }}, "{{ row.donation_date }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}];
    
var options = {
xaxis: {
  ticks: ticks
},
series: {
    bars: {
        show: true
    }
},
bars: {
    align: "center",
    barWidth: 0.5
}}

 $(document).ready(function () {
            $.plot($("#timeline"), dataset, options);

        });
*/

$('[data-toggle="tooltip"]').tooltip({"trigger": "hover"});

</script>
{% endblock %}

