{% extends 'nadc/base.html' %}
{% load staticfiles %}
{% load additionalinfo %}
{% load humanize %}

{% block title %}{% endblock %}

{% block morestyles %}
    <link href="{% static "nadc/entity.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% include 'nadc/nav.html' %}

	<div id="upper">	
	<div class="container">

		<div class="row">
		<div class="col-sm-12">
			<h1><b>{% if name.standard_name %}{{ name.standard_name|title }}{% else %}{{ name.cand_name|title }}{% endif %}</b></h1>
	
		</div>
		</div>
		
		<div class="row">
		<div class="col-sm-12">
		
			<p class="text-muted">
			{% if name.city and name.state %}{{ name.city|title }}, {{ name.state }}{% endif %}  
			{% if name.dissolved_date %} &bull; Committee dissolved in {{ name.dissolved_date|date:"o" }}{% endif %} 
			{% if name.employer or name.occupation or name.place_of_business %} &bull; {% if name.occupation %}{{ name.occupation|title }}{% endif %}{% if name.employer %} at {{ name.employer|title }}{% endif %}{% if name.place_of_business %}, {{ name.place_of_business|title }}{% endif %}{% endif %}
			</p>
			
			<hr />
		
			<p class="lead">&bull; {% if gives %}Gave {{ gives.count|apnumber|intcomma }} donation{{ gives.count|pluralize }}{% endif %}{% if not gets %} between {{ first }} and {{ mostrecent }}.{% else %} {% if gives and gets %}and{% endif %} {% if gets and not gives %}R{% else %}r{% endif %}eceived {{ gets.count|apnumber|intcomma }} contribution{{ gets.count|pluralize }} between {{ first }} and {{ mostrecent }}. {% endif %}</p>
			
			{% if comm_candidates %}<p class="lead">&bull; Backed {% for candidate in comm_candidates %}{% if candidate.stance = "0" %}<a href="/campaign-finance/{{ candidate.cand_id }}/{{ candidate.cand_name|slugify }}">{{ candidate.cand_name|title }}</a> for {{ candidate.office_desc|title }} {{ candidate.office_title|title }}{% if not forloop.last %}{% if comm_candidates.count > 2 %}{% if not forloop.last %}, {% else %} and {% endif %} {% else %} and {% endif %}{% endif %}{% endif %}{% endfor %}</p>{% endif %}
			
			<hr />

			{% if gets %}<p><a href="http://www.nadc.nebraska.gov/ccdb/search.cgi?page=details&type=committee&IDNO={{ name.nadcid }}" target="_blank">Official NADC records</a></p>{% endif %}

		</div>
		</div>
		
		<div class="row">

			{% if gives %}
			<div class="col-sm-3">
					<h3 class="bold" style="margin-bottom:0;">${{ totalcashdonated.cash__sum|add:totalinkinddonated.inkind__sum|intcomma }}</h3>
					<p class="small ital">CASH AND IN-KIND DONATIONS</p>
			</div>
			{% endif %}
				
			{% if gets %}
			<div class="col-sm-3">
					<h3 class="bold" style="margin-bottom:0;">${{ totalcashreceived.cash__sum|add:totalinkindreceived.inkind__sum|intcomma }}</h3>
					<p class="small ital">RAISED</p>
			</div>
			{% endif %}

			
			{% if normal_expenditures %}
			<div class="col-sm-3">
				<h3 class="bold" style="margin-bottom:0;">${{ normal_spent.amount__sum|intcomma }}</h3>
				<p class="small ital">SPENT</p>
			</div>
			{% endif %}
			
				

			{% if ind_expenditures %}
			<div class="col-sm-3">
				<h3 class="bold" style="margin-bottom:0;">${{ ind_spent.amount__sum|intcomma }}</h3>
				<p class="small ital">SPENT DIRECTLY ON OTHER POLITICAL RACES</p>
			</div>
			{% endif %}
			
			{% if loans %}
			<div class="col-sm-3">
				<h3 class="bold" style="margin-bottom:0;">${{ totalborrowed.loan_amount__sum|intcomma }}</h3>
				<p class="small ital">BORROWED</p>
			</div>
			{% endif %}
		
		</div>

			{% comment %}
			{% if comm_candidates %}
				<h4>Candidate{{ comm_candidates|pluralize }} supported</h4>
				<ul>
				{% for can in comm_candidates %}
				{% if can.stance == "0" %}
					<li>{{ can.cand_name|title }} ({{ can.office_desc|title }} {{ can.office_title|title }})</li>
				{% endif %}
				{% endfor %}
				</ul>
				{% if comm_candidates.count > 1 %}
				<h4>Candidate{{ comm_candidates|pluralize }} opposed</h4>
				<ul>
				{% for can in comm_candidates %}
				{% if can.stance == "1" %}
					<li>{{ can.cand_name|title }} ({{ can.office_desc|title }} {{ can.office_title|title }})</li>
				{% endif %}
				{% endfor %}
				</ul>
				{% endif %}

			{% endif %}
			{% endcomment %}

			{% if person_candidates %}
				<h4>{% for can in person_candidates %}{% if forloop.first %}{{ can.cand_name|title }}{% endif %}{% endfor %} ran for office {{ person_candidates.count|apnumber }} time{{ person_candidates.count|pluralize }}.</h4>
				{% for can in person_candidates %}
					<li><a href="/campaign-finance/candidate/{{ can.cand_id }}">{{ can.cand_name|title }} ({{ can.office_desc|title }} {{ can.office_title|title }})</a></li>
				{% endfor %}
			{% endif %}

			

		</div>


	</div>
		
</div>
</div><!-- /#upper -->


	{% additionalinfo id %}



<div id="lower">
<div class="container">

		<div class="btn-group btn-group-justified" role="group">


		{% if gets %}
			<a type="button" id="gets_button" class="btn btn-default topclicker">Raised</a>
		{% endif %}

		{% if gives %}
			<a type="button" id="gives_button" class="btn btn-default topclicker">Donated</a>
		{% endif %}

		{% if ind_expenditures or normal_expenditures %}
			<a type="button" id="spending_button" class="btn btn-default topclicker">Spent</a>
		{% endif %}

		{% if loans %}
			<a type="button" id="loans_button" class="btn btn-default topclicker">Loans</a>
		{% endif %}
		
		</div>

<h1 class="bold center" id="loading"><i class="fa fa-spinner fa-pulse muted"></i><h1>
<h2 class="bold" id="display_hed"></h2>
<div id="display_graphics"></div>
<div id="display_table"></div>


<!-- killing all this eventually -->

{% if normal_expenditures %}

	<h2>EXPENDITURES</h2>
	<table class="table table-condensed">
		<thead>
			<th>Paid to</th>
			<th>For</th>
			<th class="r">Date</th>
			<th class="r">Amount</th>
		</thead>
		<tbody>
		
		{% for exp in normal_expenditures %}
			<tr>
				<td>{{ exp.payee|title }}</td>
				<td>{% if exp.exp_purpose %}{{ exp.exp_purpose|title }}{% else %}Not reported{% endif %}</td>
				<td class="r">{{ exp.exp_date }}</td>
				<td class="r">{% if exp.amount > 0 %}${{ exp.amount|intcomma }}{% else %}${{ exp.in_kind|intcomma }} (In-kind){% endif %}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if ind_expenditures %}

	<h2>POLITICAL SPENDING</h2>
    <h4>Spending to support candidates or causes</h4>
	<table class="table table-condensed">
		<thead>
            <th>Supporting</th>
			<th>Paid to</th>
			<th>For</th>
			<th class="r">Date</th>
			<th class="r">Amount</th>
		</thead>
		<tbody>
		{% for exp in ind_expenditures %}
        {% if exp.stance == "0" %}
			<tr>
                <td>{% if exp.target_committee %}<a href="/campaign-finance/{{ exp.target_committee.pk }}/{{ exp.target_committee.standard_name|slugify }}">{{ exp.target_committee.standard_name|title }}</a>{% endif %}{% if exp.target_candidate %}<a href="/campaign-finance/{{ exp.target_candidate.pk }}/{{ exp.target_candidate.cand_name|slugify }}">{{ exp.target_candidate.cand_name }}</a>{% endif %}</td>
				<td>{{ exp.payee|title }}</td>
				<td>{% if exp.exp_purpose %}{{ exp.exp_purpose|title }}{% else %}Not reported{% endif %}</td>
				<td class="r">{{ exp.exp_date }}</td>
				<td class="r">{% if exp.amount > 0 %}${{ exp.amount|intcomma }}{% else %}${{ exp.in_kind|intcomma }} (In-kind){% endif %}</td>
			</tr>
        {% endif %}
        {% endfor %}
		</tbody>
	</table>
    
    <h4>Spending to attack candidates or causes</h4>
	<table class="table table-condensed">
		<thead>
            <th>Opposing</th>
			<th>Paid to</th>
			<th>For</th>
			<th class="r">Date</th>
			<th class="r">Amount</th>
		</thead>
		<tbody>
		{% for exp in ind_expenditures %}
        {% if exp.stance == "1" %}
			<tr>
                <td>{% if exp.target_committee %}{{ exp.target_committee.standard_name|title }}{% endif %}{% if exp.target_candidate %}{{ exp.target_candidate.cand_name }}{% endif %}</td>
				<td>{{ exp.payee|title }}</td>
				<td>{% if exp.exp_purpose %}{{ exp.exp_purpose|title }}{% else %}Not reported{% endif %}</td>
				<td class="r">{{ exp.exp_date }}</td>
				<td class="r">{% if exp.amount > 0 %}${{ exp.amount|intcomma }}{% else %}${{ exp.in_kind|intcomma }} (In-kind){% endif %}</td>
			</tr>
        {% endif %}
        {% endfor %}
		</tbody>
	</table>
    
    <h4>Spending that wasn't identified as being in opposition or support</h4>
	<table class="table table-condensed">
		<thead>
            <th>Targeting</th>
			<th>Paid to</th>
			<th>For</th>
			<th class="r">Date</th>
			<th class="r">Amount</th>
		</thead>
		<tbody>
		{% for exp in ind_expenditures %}
        {% if exp.stance == "" %}
			<tr>
                <td>{% if exp.target_committee %}{{ exp.target_committee.standard_name|title }}{% endif %}{% if exp.target_candidate %}{{ exp.target_candidate.cand_name }}{% endif %}</td>
				<td>{{ exp.payee|title }}</td>
				<td>{% if exp.exp_purpose %}{{ exp.exp_purpose|title }}{% else %}Not reported{% endif %}</td>
				<td class="r">{{ exp.exp_date }}</td>
				<td class="r">{% if exp.amount > 0 %}${{ exp.amount|intcomma }}{% else %}${{ exp.in_kind|intcomma }} (In-kind){% endif %}</td>
			</tr>
        {% endif %}
        {% endfor %}
		</tbody>
	</table>
    
{% endif %}

{% if loans %}
	<h2>LOANS</h2>
	
	<h3>Loans taken</h3>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Lender</th>
				<th>Date borrowed</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for loan in loans %}
			{% if loan.loan_amount > 0 %}
			<tr>
				<td>{{ loan.lender_name }}</td>
				<td>{{ loan.loan_date }}</td>
				<td>${{ loan.loan_amount|intcomma  }}</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
	
    {% if loan.loan_repaid > 0 %}
	<h3>Loans repaid</h3>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Lender</th>
				<th>Date repaid</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for loan in loans %}
			<tr>
				<td>{{ loan.lender_name }}</td>
				<td>{{ loan.loan_date }}</td>
				<td>${{ loan.loan_repaid|intcomma  }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
    {% endif %}

    {% if loan.loan_forgiven > 0 %}
	<h3>Loans forgiven</h3>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Lender</th>
				<th>Date forgiven</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for loan in loans %}
			<tr>
				<td>{{ loan.lender_name }}</td>
				<td>{{ loan.loan_date }}</td>
				<td>${{ loan.loan_forgiven|intcomma  }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
    {% endif %}
	
{% endif %}

{% if gives %}
<!-- underscore template for "gives" table" -->
<script type="text/html" class="gives_table_template">
    <table class="table">
        <thead>
            <tr>
                <th>Recipient (number)</th>
                <th class="r">Total</th>
            </tr>
        </thead>
        <tbody>
        <% _.each( data_to_template, function( d ){ %>
            <tr>
                 <td><a href="/campaign-finance/<%= d.id %>/<%= slugify(d.name) %>"><%= d.name %></a> (<%= d.gives.length %>)</td>
                 <td>$<%= addCommas(d.sum.toFixed(2).replace(".00","")) %>&ensp;<i class="fa fa-plus gray click_to_expand" data-toggle="tooltip" title="Click for more details"></i></td>
            
            <!-- here's the loop with the stuff to show/hide -->
            <td>
                    <% _.each( d.gives, function( ind_don ){ %>
                        Date: <%= toAPDate(ind_don.donation_date) %><br>
                        Amount: $<%= addCommas(sum([ind_don.cash, ind_don.inkind]).toFixed(2).replace(".00","")) %><br><br>
                    <% }); %>
            </td>
            <!-- // -->
            
            </tr>
        <% }); %>
        </tbody>
    </table>
</script>

{% if groupedgives.count > 5 %}
<!-- underscore template for "gives" bar charts" -->
<script type="text/html" class="gives_chart_template">
<h3 class="bold">Top 5 committees supported</h3>
<% _.each( data_to_template.topfive, function( d ){ %>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-md-5"><a class="bold" href="/campaign-finance/<%= d.id %>/<%= slugify(d.name) %>"><%= d.name %></a> ($<%= addCommas(Math.round(d.sum)) %>)</div>
        <div class="col-md-7">
            <div class="row" id="topper" style='margin:0px; background: -webkit-gradient(linear, left top,right top, color-stop(<%= getPct(d.sum, data_to_template.overall_tot) %>%,#4cae4c), color-stop(<%= getPct(d.sum, data_to_template.overall_tot) %>%,#cce9cc)); background: -moz-linear-gradient(left center, #4cae4c <%= getPct(d.sum, data_to_template.overall_tot) %>%, #cce9cc <%= getPct(d.sum, data_to_template.overall_tot) %>%); background: -o-linear-gradient(left,#4cae4c <%= getPct(d.sum, data_to_template.overall_tot) %>%, #cce9cc <%= getPct(d.sum, data_to_template.overall_tot) %>%); linear-gradient(to right,#4cae4c <%= getPct(d.sum, data_to_template.overall_tot) %>%, #cce9cc <%= getPct(d.sum, data_to_template.overall_tot) %>%)'>
                <div class="pull-right" style="text-align:right;">
                    <p class="bold" style="margin:5px 5px auto auto;"><%= getPct(d.sum, data_to_template.overall_tot).toFixed(2) %>%</p>
                </div>
            </div>
        </div>
    </div>
<% }); %>
<hr>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-5"><%= data_to_template.rest.num %> other recipient<%= jankPluralize(data_to_template.rest.num) %> ($<%= addCommas(Math.round(data_to_template.rest.tot)) %>)</div>
        <div class="col-md-7">
            <div class="row" id="topper" style='margin:0px; background: -webkit-gradient(linear, left top,right top, color-stop(<%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%,#4cae4c), color-stop(<%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%,#cce9cc)); background: -moz-linear-gradient(left center, #4cae4c <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%, #cce9cc <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%); background: -o-linear-gradient(left,#4cae4c <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%, #cce9cc <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%); linear-gradient(to right,#4cae4c <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%, #cce9cc <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%)'>
                <div class="pull-right" style="text-align:right;">
                    <p class="bold" style="margin:5px 5px auto auto;"><%= getPct(data_to_template.rest.tot, data_to_template.overall_tot).toFixed(2) %>%</p>
                </div>
            </div>
        </div>
    </div>
</script>
{% endif %}{# end if groupedgives #}
{% endif %}{# end if gives #}


{% if gets %}
<!-- underscore template for "gets" table" -->
<script type="text/html" class="gets_table_template">
    <table class="table">
        <thead>
            <tr>
                <th>Donor (number)</th>
                <th class="r">Total</th>
            </tr>
        </thead>
        <tbody>
        <% _.each( data_to_template, function( d ){ %>
            <tr>
                 <td><a href="/campaign-finance/<%= d.id %>/<%= slugify(d.name) %>"><%= d.name %></a> (<%= d.gives.length %>)</td>
                 <td>$<%= addCommas(d.sum.toFixed(2).replace(".00","")) %>&ensp;<i class="fa fa-plus gray click_to_expand" data-toggle="tooltip" title="Click for more details"></i></td>
            
            <!-- here's the loop with the stuff to show/hide -->
            <td>
                    <% _.each( d.gives, function( ind_don ){ %>
                        Date: <%= toAPDate(ind_don.donation_date) %><br>
                        Amount: $<%= addCommas(sum([ind_don.cash, ind_don.inkind]).toFixed(2).replace(".00","")) %><br><br>
                    <% }); %>
            </td>
            <!-- // -->
            
            </tr>
        <% }); %>
        </tbody>
    </table>
</script>

{% if groupedgets.count > 5 %}
<!-- underscore template for "gets" bar charts" -->
<script type="text/html" class="gets_chart_template">
<h3 class="bold">Top 5 donors</h3>
<% _.each( data_to_template.topfive, function( d ){ %>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-md-5"><a class="bold" href="/campaign-finance/<%= d.id %>/<%= slugify(d.name) %>"><%= d.name %></a> ($<%= addCommas(Math.round(d.sum)) %>)</div>
        <div class="col-md-7">
            <div class="row" id="topper" style='margin:0px; background: -webkit-gradient(linear, left top,right top, color-stop(<%= getPct(d.sum, data_to_template.overall_tot) %>%,#4cae4c), color-stop(<%= getPct(d.sum, data_to_template.overall_tot) %>%,#cce9cc)); background: -moz-linear-gradient(left center, #4cae4c <%= getPct(d.sum, data_to_template.overall_tot) %>%, #cce9cc <%= getPct(d.sum, data_to_template.overall_tot) %>%); background: -o-linear-gradient(left,#4cae4c <%= getPct(d.sum, data_to_template.overall_tot) %>%, #cce9cc <%= getPct(d.sum, data_to_template.overall_tot) %>%); linear-gradient(to right,#4cae4c <%= getPct(d.sum, data_to_template.overall_tot) %>%, #cce9cc <%= getPct(d.sum, data_to_template.overall_tot) %>%)'>
                <div class="pull-right" style="text-align:right;">
                    <p class="bold" style="margin:5px 5px auto auto;"><%= getPct(d.sum, data_to_template.overall_tot).toFixed(2) %>%</p>
                </div>
            </div>
        </div>
    </div>
<% }); %>
<hr>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-5"><%= addCommas(data_to_template.rest.num) %> other recipient<%= jankPluralize(data_to_template.rest.num) %> ($<%= addCommas(Math.round(data_to_template.rest.tot)) %>)</div>
        <div class="col-md-7">
            <div class="row" id="topper" style='margin:0px; background: -webkit-gradient(linear, left top,right top, color-stop(<%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%,#4cae4c), color-stop(<%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%,#cce9cc)); background: -moz-linear-gradient(left center, #4cae4c <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%, #cce9cc <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%); background: -o-linear-gradient(left,#4cae4c <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%, #cce9cc <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%); linear-gradient(to right,#4cae4c <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%, #cce9cc <%= getPct(data_to_template.rest.tot, data_to_template.overall_tot) %>%)'>
                <div class="pull-right" style="text-align:right;">
                    <p class="bold" style="margin:5px 5px auto auto;"><%= getPct(data_to_template.rest.tot, data_to_template.overall_tot).toFixed(2) %>%</p>
                </div>
            </div>
        </div>
    </div>
</script>
{% endif %}{# end if groupedgets #}
{% endif %}{# end if gets #}



</div>
</div><!-- #lower -->


{% endblock %}

{% block scripts %}
<script src="http://www.dataomaha.com/media/scripts/owh-utils.js"></script>
<script>

    var jankPluralize = function(num) {
        if (Number(num) === 1) {
            return "";
        } else {
            return "s";
        };
    }
    
    // set global template variable
    _.templateSettings.variable = "data_to_template";

    // function to populate the table and hed
    var makeTable = function(table_template, data, hed) {
        $("#display_table").html(table_template(data));
        $("#display_hed").html(hed)
        
        //bind click event to drop table
        $(".click_to_expand").bind("click", function(d) {
            // this is where we do the javascript to show/hide table rows
        });
    };
    
    // function to make the chart
    var makeChart = function(chart_template, chart_data) {
        $('#display_graphics').html(chart_template(chart_data));
    };
    
    var sum = function(ls) {
        return _.reduce(ls, function(memo, num){ return memo + num; }, 0);
    };
    
    {% if gives %}
    // cash and in-kind donations
    var gives = [{% for record in gives %}{"donation_date":"{{ record.donation_date|date:"o-m-d" }}", "inkind": {{ record.inkind }}, "cash":{{ record.cash }},  "recipient_id":"{{ record.recipient.nadcid }}", "recipient_name":"{{ record.recipient.standard_name|title }}"}{% if not forloop.last %},{% endif %}{% endfor %}];
    
    // define templates
    var gives_chart_template = _.template($( "script.gives_chart_template" ).html());
    var gives_table_template = _.template($( "script.gives_table_template" ).html());
    
    // get the donation total
    var gives_cash_and_inkind = _.pluck(gives, "cash").concat(_.pluck(gives, "inkind"));
    
    // group donations by ID
    var gives_out = _.chain(gives)
        .groupBy("recipient_id")
        .map(function(value, key) {
            return {
                id: key,
                sum: sum(_.pluck(value, "cash").concat(_.pluck(value, "inkind"))),
                name: _.pluck(value, "recipient_name")[0],
                gives: value
            }
        })
        .sortBy("sum").reverse()
        .value();

    {% if groupedgives.count > 5 %}
    
    // define template
    var gives_chart_template = _.template($( "script.gives_chart_template" ).html());
    
    var gives_top5 = _.first(gives_out, 5);
    var gives_restnum = gives_out.length - 5;
    var gives_ot = sum(gives_cash_and_inkind);
    var gives_rest_tot = sum(gives_cash_and_inkind) - sum(_.pluck(gives_top5, "sum"));
    
    var gives_for_chart = {
        overall_tot: gives_ot,
        topfive: gives_top5,
        rest: {
                num: gives_restnum,
                tot: gives_rest_tot
        }
    };
    
    {% endif %}{# end if groupedgives.count > 5 #}
    {% endif %}{# end if gives #}
      
    {% if gets %}
    var gets = [{% for record in gets %}{"donation_date":"{{ record.donation_date|date:"m-d-o" }}", "inkind": {{ record.inkind }}, "cash":{{ record.cash }},  "donor_id":"{{ record.donor.canonical }}", "donor":"{{ record.donor.standard_name|title }}"}{% if not forloop.last %},{% endif %}{% endfor %}];
    
    // define templates
    var gets_chart_template = _.template($( "script.gets_chart_template" ).html());
    var gets_table_template = _.template($( "script.gets_table_template" ).html());
    
    // group gets by donor
    var gets_out = _.chain(gets)
        .groupBy("donor_id")
        .map(function(value, key) {
            return {
                id: key,
                sum: sum(_.pluck(value, "cash").concat(_.pluck(value, "inkind"))),
                name: _.pluck(value, "donor")[0],
                gives: value
            }
        })
        .sortBy("sum").reverse()
        .value();
    
    {% if groupedgets.count > 5 %}
    // total gets
    var gets_cash_and_inkind = _.pluck(gets, "cash").concat(_.pluck(gets, "inkind"));
    
    var gets_top5 = _.first(gets_out, 5);
    var gets_restnum = gets_out.length - 5;
    var gets_ot = sum(gets_cash_and_inkind);
    var gets_rest_tot = sum(gets_cash_and_inkind) - sum(_.pluck(gets_top5, "sum"));
    
    var gets_for_chart = {
        overall_tot: gets_ot,
        topfive: gets_top5,
        rest: {
                num: gets_restnum,
                tot: gets_rest_tot
        }
    };      
      
    {% endif %}
    {% endif %}
    

    
    
    {% if normal_expenditures or ind_expenditures %}
    {% if normal_expenditures %}var admin_expenses = [{% for record in normal_expenditures %}{"exp_date":"{{ record.exp_date|date:"o-m-d" }}",{% if record.in_kind > 0 %} "inkind": {{ record.in_kind }},{% endif %}{% if record.amount > 0 %} "cash":{{ record.amount }},{% endif %} "recipient":"{{ record.payee|title }}", "purpose": "{% if record.exp_purpose %}{{ record.exp_purpose|title }}{% else %}Not reported{% endif %}"}{% if not forloop.last %}, {% endif %}{% endfor %}];{% endif %}
    
    {% if ind_expenditures %}
    
    var ind_expenses = [
    
    {% for exp in ind_expenditures %}
    
    {% if exp.target_committee %}
    "target_committee_id": "{{exp.target_committee.pk}}", "target_committee_slug": "{{ exp.target_committee.standard_name|slugify }}", "target_committee_name": "{{ exp.target_committee.standard_name|title }}", {% endif %}
    
    
    {% if exp.target_candidate %}"target_candidate_id": "{{ exp.target_candidate.pk }}", "target_candidate_slug": "{{ exp.target_candidate.cand_name|slugify }}", "target_candidate_name": "{{ exp.target_candidate.cand_name }}", {% endif %}
    
    "payee": "{{ exp.payee|title }}", "stance": "{{ exp.stance }}", "purpose": 
    
    {% if exp.exp_purpose %}"{{ exp.exp_purpose|title }}"{% else %}"Not reported", {% endif %}
    
    "exp_date": "{{ exp.exp_date|date:"o-m-d" }}"
    
    {% if exp.amount > 0 %}, "amount": "{{ exp.amount }}"{% endif %}
    
    {% if exp.in_kind > 0 %}, "inkind": "{{ exp.in_kind %}"{% endif %}{% if not forloop.last %}, 
    
    {% endif %}
    
    {% endfor %}];
    
    console.log(ind_expenses);    
    {% endif %}
    

        {% endif %}    

    $(document).ready(function() {
        // pass data to templates for initial pageload
        {% if gives %}
        makeTable(gives_table_template, gives_out, "Donations");
        {% if groupedgives.count > 5 %}
        makeChart(gives_chart_template, gives_for_chart);
        {% endif %}
        {% endif %}
        
        {% if gets and not gives %}
        makeTable(gets_table_template, gets_out, "Donations received");
        {% if groupedgets.count > 5 %}
        makeChart(gets_chart_template, gets_for_chart);       
        {% endif %}
        {% endif %}
        
        $('.topclicker').click(function() {
            console.log(this.id);
        });
        
    });
      
/*
var timelinegives = [
{% for row in allgives %}
    [{{ forloop.counter }}, {{ row.total }}]{% if not forloop.last %},{% endif %}
{% endfor %}
];
var dataset = [{ data: timelinegives, color: "#5482FF" }];
var ticks = [ {% for row in allgives %}
    [{{ forloop.counter }}, "{{ row.donation_date }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}];
    
var options = {
xaxis: {
  ticks: ticks
},
series: {
    bars: {
        show: true
    }
},
bars: {
    align: "center",
    barWidth: 0.5
}}

 $(document).ready(function () {
            $.plot($("#timeline"), dataset, options);

        });
*/

$('[data-toggle="tooltip"]').tooltip({"trigger": "hover"});

</script>
{% endblock %}

