{% extends 'nadc/base.html' %}
{% load humanize %}
{% load searchwidget %}
{% load staticfiles %}

{% block social %}{% endblock %}

{% block morestyles %}
<link href="{% static "nadc/main.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
		<img src="{% static 'logo-owh-black.png' %}" class="logo" />
        <h1>Nebraska campaign contributions</h1>
        <p>Who's influencing Nebraska politics? Find out using the only source the lets you search political donations and spending by the people bankrolling the process.</p>
    </div>
</div>


<div id="search">
<div class="container">


	<div class="col-sm-7">

		<h2>Search</h2>
             
		<form id="entity" action="/campaign-finance/search" method="GET">
			<input type="search" class="form-control input-lg" name="q" value="" placeholder="Campaign, donor or PAC">
		</form>
		
		<br />
		
		<select id="location" class="form-control input-lg" onchange="if (this.value) window.location.href=this.value">	
			<option>City, County, or other random location grouping</option>
			{% for govt in governments %}
				<option value="campaign-finance/{{ govt.office_govt|slugify }}">{{ govt.office_govt }}</option>
			{% endfor %}
		</select>
            
	</div>

	<div class="col-md-5">
		<div class="sticky" style="margin-bottom:20px;">
			<h3><b>A search engine for Nebraska campaign finance</b></h3>
			<p>Explore {{ DONATION_TOTAL|intcomma }} contributions to political causes in Nebraska since <span class="minyear"></span>.</p>

			<p><strong>Updated {{ LAST_UPDATED|date:"N j, Y" }}</strong></p>
		
			<br />
			
			<p><small><a href="/campaign-finance/about">Learn more about this data &raquo;</a></small></p>
		</div>
	</div>
	
	


	
</div>
</div>

<div id="explainer">
<div class="container">
	<h2>Explainer</h2>
	
	<p>Tell the people how we're using this data and how they can use it, too.</p>
	<p>Probably a slider format with little illustrations explaining "donations" "expenditures" "entities" and the ins/outs of NADC data. </p>
	<p>Maybe this can/should merge with the OWH coverage summary: "Here are the stories we found so far."</p>
	
</div>
</div>


<div id="donations">
<div class="container">

		<!--
        <div id="barchart" class="item">
            <h3>Political giving, <span class="minyear"></span> to <span class="maxyear"></span></h3>
            <div id="chart"></div>
        </div>
        -->

			<h2>Donations</h2>

			<div class="col-sm-7">
			
				<div class="row">
			
			        <div id="recentdonors" class="item">
						<h3 class="bold">Five largest donations, past 30 days</h3>
						{% if toplast30donations.count > 0 %}
						<table class="table" id="recentDonorTable">
							<thead>
							<tr>
								<th>Date</th>
								<th>Recipient</th>
								<th>Donor</th>
								<th class="r">Amount</th>
							</tr>
							</thead>
							<tbody>
							{% for thing in toplast30donations %}{% if thing.pledge == 0 %}<tr>
								<td>{{ thing.donation_date }}</td>
								<td><a href="/campaign-finance/{{ thing.recipient.canonical }}/{{ thing.recipient.standard_name|slugify }}">{{ thing.recipient.standard_name|title }}</a></td>
								<td><a href="/campaign-finance/{{ thing.donor.canonical }}/{{ thing.donor.standard_name|slugify }}">{{ thing.donor.standard_name|title }}</a></td>
								<td class="r">${{ thing.totes|intcomma }}</td>
							</tr>
							{% endif %}{% endfor %}
							</tbody>
						</table>
						{% else %}No donations were reported in the past 30 days.{% endif %}
					</div>
			
			
				</div>
			
				<div class="row">
				
					<h3 class="bold">Top donors</h3>
						  
					<div id="topdonors" class="col-sm-6">
						<h4>By dollars</h4>
					
						<table class="table">
							{% for thing in top10ind %}
							<tr>
								<td><a href="/campaign-finance/{{ thing.donor_id__canonical }}/{{ thing.donor_id__standard_name|slugify }}">{{ thing.donor_id__standard_name|title }}</a></td>
								<td class="r">${{ thing.totes|apnumber|intcomma }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
						
						
					<div id="topdonors" class="col-sm-6">
						<h4>By committees supported</h4>
						<table class="table">
							{% for thing in topvolumeunique %}
							<tr>
								<td><a href="/campaign-finance/{{ thing.donor_id__canonical }}/{{ thing.donor_id__standard_name|slugify }}">{{ thing.donor_id__standard_name|title }}</a></td>
								<td class="r">{{ thing.recipient__count }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
			
				</div>
			
			</div>
			
			<div class="col-md-4 col-sm-offset-1">

				<h3 class="big">${{ last30donationstotal.totes|floatformat:"0"|intcomma }}</h3>
				<p><b>Total donations in past 30 days</b></p>
				
				<hr />
				<p>(This will be a chart)</p>
				
				Monthly donations, past year
				<ul>
				{% for month in monthlydonations %}
				<li>{{ month.month }}, ${{ month.monthly_total|intcomma }}</li>
				{% endfor %}
				</ul>
       	
			</div>
			
			
			
</div>
</div>			
		

<div id="expenditures">
<div class="container">

			<h2>Expenditures</h2>

			
			
			
			<div class="col-sm-8">
			<div id="recentexpenditures" class="item">
            <h3 class="bold"><span class="tip" data-toggle="tooltip" title="Spending earmarked to support or oppose a candidate or ballot question committee">Targeted spending</span>, past 30 days</h3>
            {% if toplast30expenditures.count > 0 %}
            <table class="table" id="recentExpTable">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Sponsor</th>
                    <th>Target</th>
                    <th class="r">Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for thing in toplast30expenditures %}<tr>
                    <td>{{ thing.exp_date }}</td>
                    <td><a href="/campaign-finance/{{ thing.committee.pk }}/{{ thing.committee.standard_name|slugify }}">{{ thing.committee.standard_name|title }}</a></td>
                    <td>{% if thing.target_committee %}<a href="/campaign-finance/{{ thing.target_committee.pk }}/{{ thing.target_committee.standard_name|slugify }}">{{ thing.target_committee.standard_name|title }}</a>{% endif %}{% if thing.target_candidate %}<a href="/campaign-finance/{{ thing.target_candidate.pk }}/{{ thing.target_candidate.cand_name|slugify }}">{{ thing.target_candidate.cand_name }}</a>{% endif %}</td>
                    <td class="r">${{ thing.totes|intcomma }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}No donations were reported in the past 30 days.{% endif %}
        </div>
			
		</div>
		
		<div class="col-sm-4">
			
			<h3 class="big">${{ last30expenditurestotal.totes|floatformat:"0"|intcomma }}</h3>
            <p><b>Total dark money, past 30 days</b> 

			<hr />
			<p>This will be a chart</p>
			Monthly expenditures, past year
            <ul>
            {% for month in monthlyexpenditures %}
            <li>{{ month.month }}, ${{ month.monthly_total|intcomma }}</li>
            {% endfor %}
            </ul>

			</div>
			
</div>
</div>


<div id="big-wigs">
<div class="container">
	<h2>Bigwigs</h2>
	
	<p>Tell the people which people and entities to pay attention to</p>
	
</div>
</div>


{% endblock %}

{% block scripts %}
<script src="http://dataomaha.com/media/scripts/flot/jquery.flot.min.js"></script>
<script src="http://dataomaha.com/media/scripts/curvedLines.js"></script>
<script src="http://dataomaha.com/media/scripts/flot/jquery.flot.resize.min.js"></script>
<script src="http://www.dataomaha.com/media/scripts/flot/jquery.flot.time.min.js"></script>
<script>
    
    $('[data-toggle="tooltip"]').tooltip({"trigger": "click"});
    
    var getYear = function(y) {
        return new Date(y, 0, 1).getTime();
    };
    
    var addCommas = function(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    };

    var formatter = function(val, axis) {
        return '$' + addCommas(val);
    };
    
    var recent = []
    
    var by_year = [{% for dude in byyear %}{"year":{{ dude.donation_year }}, "sum":{{ dude.sum }}}{% if not forloop.last %},{% endif %}{% endfor%}];

    var d1 = [];
    
    _.each(by_year, function(d) {
        d1.push([getYear(d.year), d.sum]);
    });
    
    var minyear = _.min(_.pluck(by_year, "year"));
    var maxyear = _.max(_.pluck(by_year, "year"));
    
    $('.minyear').text(minyear);
    $('.maxyear').text(maxyear);
    
    var chartIt = function() {
        $.plot($("#chart"), [d1], {
            series: {
                bars: {
                    show: true,
                    fill: true,
                    fillColor: '#333',
                    align: "center"
                },
              color: "#fff"
            },
            bars: { barWidth: 60*60*24*365*1000 },
            shadowSize: 0,
            xaxis: {
                mode: "time",
                tickLength: 0
            },
            yaxis: {
                tickFormatter: formatter
            },        
            grid: {
                borderWidth: 0.5,
                axisMargin: 0,
                borderColor: '#eee',
                color: '#eee',
                labelMargin:15
                }
        });
    };
    
    $(document).ready(function() {
        chartIt();
    });
        
    window.onresize = function() {
        chartIt();
    };

        var $tw = $('#tw');
        var $fb = $('#fb');
        var msg = "https://twitter.com/intent/tweet?text=" + encodeURIComponent("New from @dataomaha @owhnews: Search {{ DONATION_TOTAL|intcomma }} Nebraska campaign finance records since " + minyear + ": http://www.dataomaha.com/campaign-finance");
        $tw.attr({
            'href': msg,
            'target': '_blank'
        });
        $fb.attr({
            'href':'http://www.facebook.com/sharer.php?u=http://dataomaha.com/campaign-finance',
            'target': '_blank'           
        });
</script>
{% endblock %}
