{% extends 'nadc/base.html' %}
{% load humanize %}
{% load searchwidget %}
{% load staticfiles %}

{% block social %}{% endblock %}

{% block morestyles %}
	<link href="{% static "nadc/main.css" %}" rel="stylesheet">
    <link href="http://dataomaha.com/media/scripts/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
		<img src="{% static 'logo-owh-black.png' %}" class="logo" />
        <h1>Nebraska campaign finance</h1>
        <p>Who's funding Nebraska politics? Find out with the only source that lets you search for the people, companies and committees spending money to finance campaigns. New data every week.</p>
		<br />
		<div class="row">
			<div class="col-sm-4">
				<h3 class="big">${{ last30donationstotal.totes|floatformat:"0"|intcomma }}</h3>
				<p class="small">Donations, past 30 days</p>
			</div>
			
			<div class="col-sm-4">
				<h3 class="big">${{ last30admintotal.totes|floatformat:"0"|intcomma }}</h3>
				<p class="small">Campaign spending, past 30 days</p> 
			</div>
			
			<div class="col-sm-4">
				<h3 class="big">${{ last30targetedtotal.totes|floatformat:"0"|intcomma }}</h3>
				<p class="small">Support/opposition spending, past 30 days</p> 
			</div>

			
		</div>
    </div>
</div>

<div id="search">
<div class="container">

	<div class="col-sm-7">

		<h2>Search</h2>
		
		<form id="entity" action="/campaign-finance/search" method="GET">
			<div class="input-group">
				<input type="text" class="form-control input-lg" name="q" value="" placeholder="Campaign, donor name, PAC or zip code">
				<span class="input-group-btn">
		        	<button class="btn btn-default btn-lg" type="submit">Search</button>
		      	</span>
		    </div>
	    </form>		
		
		<br />
		
		<select id="location" class="form-control input-lg" onchange="if (this.value) window.location.href=this.value">	
			<option selected disabled>Pick a city, county or government</option>
			{% for govt in governments %}
				<option value="campaign-finance/{{ govt.office_govt|slugify }}">{{ govt.office_govt }}</option>
			{% endfor %}
		</select>
		
		<br />
		
			<div id="datefilter">
				<div class="input-group input-daterange">
						<input type="text" class="form-control input-lg" id="startdate" placeholder="Start date">
						<span class="input-group-addon">to</span>
						<input type="text" class="form-control input-lg" id="enddate" placeholder="End date">
						<span class="input-group-btn">
							<button class="btn btn-default btn-lg date-filter" type="text" id="date_filter_button">Date filter</button>
						</span>
				</div>
			</div>
		
		
		
            
	</div>

	<div class="col-md-5">
		<div class="sticky" style="margin-bottom:20px;">
			<h3><b>The first search engine for Nebraska campaign finance</b></h3>
			<p>Explore {{ DONATION_TOTAL|intcomma }} contributions to political causes in Nebraska since <span class="minyear">1999</span>.</p>

			<p><strong>Updated {{ LAST_UPDATED|date:"N j, Y" }}</strong></p>
		
			<br />
			
			<p><small><a href="/campaign-finance/about">Learn more about this data &raquo;</a></small></p>
		</div>
	</div>
	
	


	
</div>
</div>

<div id="explainer">
<div class="container">
	<h2>Explainer</h2>
	
	<p>Tell the people how we're using this data and how they can use it, too.</p>
	<p>Probably a slider format with little illustrations explaining "donations" "expenditures" "entities" and the ins/outs of NADC data. </p>
	<p>Maybe this can/should merge with the OWH coverage summary: "Here are the stories we found so far."</p>
	
</div>
</div>


<div id="gives">
<div class="container">

			<h2 class="purple">Donations</h2>

			<div class="col-sm-7">
			
				<div class="row">
			
			        <div id="recentdonors" class="item">
						<h3 class="bold">Largest donations in the past 30 days</h3>
						{% if toplast30donations.count > 0 %}
						<table class="table" id="recentDonorTable">
							<thead>
							<tr>
								<th>Date</th>
								<th>Recipient</th>
								<th>Donor</th>
								<th class="r">Amount</th>
							</tr>
							</thead>
							<tbody>
							{% for thing in toplast30donations %}{% if thing.pledge == 0 %}<tr>
								<td>{{ thing.donation_date }}</td>
								<td><a href="/campaign-finance/{{ thing.recipient.canonical }}/{{ thing.recipient.standard_name|slugify }}">{{ thing.recipient.standard_name|title }}</a></td>
								<td><a href="/campaign-finance/{{ thing.donor.canonical }}/{{ thing.donor.standard_name|slugify }}">{{ thing.donor.standard_name|title }}</a></td>
								<td class="r">${{ thing.totes|intcomma }}</td>
							</tr>
							{% endif %}{% endfor %}
							</tbody>
						</table>
						{% else %}<p>No donations were reported in the past 30 days.</p>{% endif %}
						<p><a href='/campaign-finance/daterange/{{ today_minus_30|date:"mdY" }}/{{ today|date:"mdY" }}'>See all donations in the past 30 days &raquo;</a></p>
					</div>
			
			
				</div>
			
				<div class="row">
				
					<h3 class="bold">Top donors since 1999</h3>
						  
					<div id="topdonors" class="col-sm-6">
						<h4>By dollars</h4>
					
						<table class="table">
							{% for thing in top10ind %}
							<tr>
								<td><a href="/campaign-finance/{{ thing.donor_id__canonical }}/{{ thing.donor_id__standard_name|slugify }}">{{ thing.donor_id__standard_name|title }}</a></td>
								<td class="r">${{ thing.totes|apnumber|intcomma }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
						
						
					<div id="topdonors" class="col-sm-6">
						<h4>By committees supported</h4>
						<table class="table">
							{% for thing in topvolumeunique %}
							<tr>
								<td><a href="/campaign-finance/{{ thing.donor_id__canonical }}/{{ thing.donor_id__standard_name|slugify }}">{{ thing.donor_id__standard_name|title }}</a></td>
								<td class="r">{{ thing.recipient__count }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
			
				</div>
			
			</div>
			
			<div class="col-md-4 col-sm-offset-1">

				<h3 class="big purple">${{ last30donationstotal.totes|floatformat:"0"|intcomma }}</h3>
				<p><b>Total donations in past 30 days</b></p>
				
				<hr style="border-top: 1px solid #fafafa;" />
				<p class="bold">Donations by month, past year</p>
                <div id="donations_chart"></div>
                
       	
			</div>
			
			
			
</div>
</div>			
		

<div id="expenditures">
<div class="container">

			<h2 class="blue">Expenditures</h2>

			
			<div class="row">
			
				<div class="col-sm-8">
					<div id="recentexpenditures" class="item">
						<h3 class="bold">Campaign spending supporting or opposing candidates and committees, past 30 days</h3>
						{% if toplast30targeted.count > 0 %}
						<table class="table" id="recentExpTable">
							<thead>
							<tr>
								<th>Date</th>
								<th>Sponsor</th>
								<th>Supporting/Opposing</th>
								<th class="r">Amount</th>
							</tr>
							</thead>
							<tbody>
							{% for thing in toplast30targeted %}<tr>
								<td>{{ thing.exp_date }}</td>
								<td><a href="/campaign-finance/{{ thing.committee.pk }}/{{ thing.committee.standard_name|slugify }}">{{ thing.committee.standard_name|title }}</a></td>
								<td>{% if thing.target_committee %}<a href="/campaign-finance/{{ thing.target_committee.pk }}/{{ thing.target_committee.standard_name|slugify }}">{{ thing.target_committee.standard_name|title }}</a>{% endif %}{% if thing.target_candidate %}<a href="/campaign-finance/{{ thing.target_candidate.pk }}/{{ thing.target_candidate.cand_name|slugify }}">{{ thing.target_candidate.cand_name }}</a>{% endif %}</td>
								<td class="r">${{ thing.totes|intcomma }}</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
						{% else %}No donations were reported in the past 30 days.{% endif %}
					</div>
					
				</div>
				
				<div class="col-sm-4">
				
					<h3 class="big blue">${{ last30targetedtotal.totes|floatformat:"0"|intcomma }}</h3>
					<p><b>Targeted spending, past 30 days</b> 

					<hr />
					<p class="bold">Expenditures by month, past year</p>
					<div id="expenditures_chart"></div>
					

				</div>
			</div>
			
			<div class="row">
			
				<div class="col-sm-8">
					<div id="recentexpenditures" class="item">
						<h3 class="bold">All other campaign spending, past 30 days</h3>
						{% if toplast30admin.count > 0 %}
						<table class="table" id="recentExpTable">
							<thead>
							<tr>
								<th>Date</th>
								<th>Paid by</th>
								<th>Paid to</th>
								<th>For</th>
								<th class="r">Amount</th>
							</tr>
							</thead>
							<tbody>
							{% for thing in toplast30admin %}<tr>
								<td>{{ thing.exp_date }}</td>
								<td><a href="/campaign-finance/{{ thing.committee.pk }}/{{ thing.committee.standard_name|slugify }}">{{ thing.committee.standard_name|title }}</a></td>
								<td>(XXXXXX - Paid to?)</td>
								<td>(XXXXX - For?)</td>
								<td class="r">${{ thing.totes|intcomma }}</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
						{% else %}No donations were reported in the past 30 days.{% endif %}
					</div>
					
				</div>
				
				<div class="col-sm-4">
				
					<h3 class="big blue">${{ last30admintotal.totes|floatformat:"0"|intcomma }}</h3>
					<p><b>Campaign spending, past 30 days</b> 

					<hr />
					<p class="bold">Monthly campaign spending, past year</p>
					<div id="expenditures_chart"></div>
					

				</div>
			</div>
			
			
			
			
</div>
</div>


<div id="big-wigs">
<div class="container">
	<h2 class="orange">Bigwigs</h2>
	
	<p>Tell the people which people and entities to pay attention to</p>
	
</div>
</div>


{% endblock %}

{% block scripts %}

<script src="http://www.dataomaha.com/media/scripts/owh-utils.js"></script>
<script src="http://www.dataomaha.com/media/scripts/bootstrap-datepicker/bootstrap-datepicker.js"></script>


<script src="/media/scripts/flot/jquery.flot.min.js"></script>
<script src="/media/scripts/flot/jquery.flot.resize.min.js"></script>
<script src="/media/scripts/flot/jquery.flot.time.min.js"></script>


<script>
    
    $('[data-toggle="tooltip"]').tooltip({"trigger": "click"});
    
    var getMonthTime = function(m, y) {
        var month = Number(m) - 1;
        return new Date(y, month, 1).getTime();
    };
    
    var addCommas = function(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    };

    var formatter = function(val, axis) {
        return '$' + addCommas(val);
    };
    
    var months = ["J", "F", "M", "A", "M", "J", "J", "A", "S", "O", "N", "D"];
    
    var monthFormatter = function (val, axis) {
        var d = new Date(val);
        return months[d.getUTCMonth()];
    };
    
    var donations_by_month = [{% for month in monthlydonations %}[getMonthTime({{ month.month }}, {{ month.year }}), {{ month.monthly_total }}]{% if not forloop.last %},{% endif %}{% endfor %}];
    
    var expenditures_by_month = [{% for month in monthlyexpenditures %}[getMonthTime({{ month.month }}, {{ month.year }}), {{ month.monthly_total }}]{% if not forloop.last %},{% endif %}{% endfor %}];
    
    var chartIt = function() {
        $.plot($("#donations_chart"), [donations_by_month], {
            series: {
                bars: {
                    show: true,
                    fill: true,
                    fillColor: '#472f44',
                    align: "center"
                },
              color: "#f0f0f0"
            },
            bars: { barWidth: (60*60*24*365*1000) / 13 },
            shadowSize: 0,
            xaxis: {
                mode: "time",
                tickLength: 0,
                ticks: 12,
                tickFormatter: monthFormatter,
                margin: 10
            },
            yaxis: {
                tickFormatter: formatter
            },        
            grid: {
                borderWidth: 0.5,
                axisMargin: 0,
                borderColor: '#f0f0f0',
                color: '#333',
                labelMargin:15
                }
        });
        
        $.plot($("#expenditures_chart"), [expenditures_by_month], {
            series: {
                bars: {
                    show: true,
                    fill: true,
                    fillColor: '#1f3c4c',
                    align: "center"
                },
              color: "#f0f0f0"
            },
            bars: { barWidth: (60*60*24*365*1000) / 13 },
            shadowSize: 0,
            xaxis: {
                mode: "time",
                tickLength: 0,
                ticks: 12,
                tickFormatter: monthFormatter,
                margin: 10
            },
            yaxis: {
                tickFormatter: formatter
            },        
            grid: {
                borderWidth: 0.5,
                axisMargin: 0,
                borderColor: '#f0f0f0',
                color: '#333',
                labelMargin:15
                }
        });        
    };
    
    $(document).ready(function() {
        chartIt();
    });
    
    var updateLayout = _.debounce(chartIt, 300);
    $(window).resize(updateLayout);

        var $tw = $('#tw');
        var $fb = $('#fb');
        var msg = "https://twitter.com/intent/tweet?text=" + encodeURIComponent("New from @dataomaha @owhnews: Search {{ DONATION_TOTAL|intcomma }} Nebraska campaign finance records since 1999: http://www.dataomaha.com/campaign-finance");
        $tw.attr({
            'href': msg,
            'target': '_blank'
        });
        $fb.attr({
            'href':'http://www.facebook.com/sharer.php?u=http://dataomaha.com/campaign-finance',
            'target': '_blank'           
        });
</script>

<script>
	
	// instantiate datepickers
    $('.input-daterange input').each(function() {
        $(this).datepicker({
            clearBtn: true
        });
    });
	
	
	
	
    //function to get start/end dates, if present in datepicker, and return an object
    
	function pad(x){
		if(x < 10) return "0" + x;
		return x;
	}
	
	
	$(".date-filter").bind("click", function(d) {
		var start_date_val = $('#startdate').val();
		var end_date_val = $('#enddate').val();
		console.log("start_date_val: " + start_date_val + " end_date_val:" + end_date_val);

		if ( start_date_val && end_date_val != "") {
			var start_date = new Date(start_date_val);
			var end_date = new Date(end_date_val);

            if (start_date && end_date && (end_date < start_date)) {
                alert("End date " + end_date_val + " comes before start date " + start_date_val);
            }
			
			var start_formatted = pad(start_date.getMonth() + 1).toString() + pad(start_date.getDate()).toString() + pad(start_date.getFullYear()).toString();
			console.log("Start date:" + start_formatted);
        
			var end_formatted = pad((end_date.getMonth() + 1)).toString() + pad(end_date.getDate()).toString() + pad(end_date.getFullYear()).toString();
			console.log("End date:" + end_formatted);
			
			url = "campaign-finance/daterange/" + start_formatted + "/" + end_formatted;
			window.location = url; 
		}

		else {
			alert("Please enter two dates for the range.");
		};
		
        return;
    });
</script>


{% endblock %}
