{% extends 'nadc/base.html' %}
{% load humanize %}
{% load searchwidget %}

{% block social %}{% endblock %}

{% block morestyles %}
<style>
#chart { width: 100%; height: 250px; margin-bottom:30px;}
.item { margin-bottom:40px; }
</style>
{% endblock %}

{% block content %}

<div class="jumbotron" style="padding-top:60px; padding-bottom: 30px;">
    <div class="container">
		<p class="sf">c</p>
        <h1 class="bold">Some catchy hed here</h1>
        <p>A search engine for Nebraska campaign finance</p>
        <p class="ital" style="font-size:100%">Data updated {{ LAST_UPDATED|date:"N j, Y" }}</p>
    </div>
</div>

<div class="container" style="margin-bottom:50px;">
    <div class="row">
        <div class="col-md-8">
        
        <div id="barchart" class="item">
            <h3>Political giving, <span class="minyear"></span> to <span class="maxyear"></span></h3>
            <div id="chart"></div>
        </div>
        
        <div id="thisistrash" class="item">
        I'm just shoehorning all these elements here<p>
            Monthly donations, past year
            <ul>
            Total donations in past 30 days: ${{ last30donationstotal.totes|intcomma }}
            {% for month in monthlydonations %}
            <li>{{ month.month }}, ${{ month.monthly_total|intcomma }}</li>
            {% endfor %}
            </ul>
        <br>
            Monthly expenditures, past year
            <ul>
            Total dark money, past 30 days: ${{ last30expenditurestotal.totes|intcomma }}
            {% for month in monthlyexpenditures %}
            <li>{{ month.month }}, ${{ month.monthly_total|intcomma }}</li>
            {% endfor %}
            </ul>
        <br>
        
        
        
        </div>
        
        <div id="recentdonors" class="item">
            <h3 class="bold">Top donations, past 30 days</h3>
            {% if toplast30donations.count > 0 %}
            <table class="table tablesorter" id="#recentTable">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Recipient</th>
                    <th>Donor</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for thing in toplast30donations %}{% if thing.pledge == 0 %}<tr>
                    <td><span class="hidden">{{ thing.donation_date|date:"Y-m-d" }}</span>{{ thing.donation_date }}</td>
                    <td class="bold"><a href="/campaign-finance/{{ thing.recipient.canonical }}/{{ thing.recipient.standard_name|slugify }}">{{ thing.recipient.standard_name|title }}</a></td>
                    <td class="bold"><a href="/campaign-finance/{{ thing.donor.canonical }}/{{ thing.donor.standard_name|slugify }}">{{ thing.donor.standard_name|title }}</a></td>
                    <td>${{ thing.totes|intcomma }}</td>
                </tr>
                {% endif %}{% endfor %}
                </tbody>
            </table>
            {% else %}No donations were reported in the past 30 days.{% endif %}
        </div>
        
        <div id="recentexpenditures" class="item">
            <h3 class="bold">Top dark money, past 30 days</h3>
            {% if toplast30expenditures.count > 0 %}
            <table class="table tablesorter" id="#recentTable">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Sponsor</th>
                    <th>Target</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for thing in toplast30expenditures %}<tr>
                    <td><span class="hidden">{{ thing.exp_date|date:"Y-m-d" }}</span>{{ thing.exp_date }}</td>
                    <td class="bold"><a href="/campaign-finance/{{ thing.committee.pk }}/{{ thing.committee.standard_name|slugify }}">{{ thing.committee.standard_name|title }}</a></td>
                    <td class="bold">{% if thing.target_committee %}<a href="/campaign-finance/{{ thing.target_committee.pk }}/{{ thing.target_committee.standard_name|slugify }}">{{ thing.target_committee.standard_name|title }}</a>{% endif %}{% if thing.target_candidate %}<a href="/campaign-finance/{{ thing.target_candidate.pk }}/{{ thing.target_candidate.cand_name|slugify }}">{{ thing.target_candidate.cand_name }}</a>{% endif %}</td>
                    <td>${{ thing.totes|intcomma }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}No donations were reported in the past 30 days.{% endif %}
        </div>
      
        <div id="topdonors" class="item">
            <h3>Top donors, by dollars</h3>
            <table class="table">{% for thing in top10ind %}
                <tr><td>{{ forloop.counter }}. <b><a href="/campaign-finance/{{ thing.donor_id__canonical }}/{{ thing.donor_id__standard_name|slugify }}">{{ thing.donor_id__standard_name|title }}</a></b>: ${{ thing.totes|apnumber|intcomma }}</td></tr>{% endfor %}
            </table>
        </div>
        
        <div id="topdonors" class="item">
            <h3>Top donors, by number of contributions</h3>
            <table class="table">{% for thing in topvolumeraw %}
                <tr><td>{{ forloop.counter }}. <b><a href="/campaign-finance/{{ thing.donor_id__canonical }}/{{ thing.donor_id__standard_name|slugify }}">{{ thing.donor_id__standard_name|title }}</a></b>: {{ thing.recipient__count }}</td></tr>{% endfor %}
            </table>
        </div>
        
        <div id="topdonors" class="item">
            <h3>Top donors, by committees supported</h3>
            <table class="table">{% for thing in topvolumeunique %}
                <tr><td>{{ forloop.counter }}. <b><a href="/campaign-finance/{{ thing.donor_id__canonical }}/{{ thing.donor_id__standard_name|slugify }}">{{ thing.donor_id__standard_name|title }}</a></b>: {{ thing.recipient__count }}</td></tr>{% endfor %}
            </table>
        </div>
        
        <div id="toprecips" class="item">
            <h3>Top recipients</h3>
            <table class="table">{% for thing in toprecipients %}
                <tr><td>{{ forloop.counter }}. <b><a href="/campaign-finance/{{ thing.recipient_id__canonical }}/{{ thing.recipient_id__standard_name|slugify }}">{{ thing.recipient_id__standard_name|title }}</a></b>: ${{ thing.totes|intcomma }}</td></tr>{% endfor %}
            </table>
        </div>
        
        </div>
    <div class="col-md-4">
            <div class="sticky" style="margin-bottom:20px;">
            <h3 class="bold">
            <i class="fa fa-mouse-pointer"></i> What is this?</h3>
            <p>Who's influencing Nebraska politics? Find out using the only source the lets you search political donations and spending by the people bankrolling the process. Explore <strong>{{ DONATION_TOTAL|intcomma }}</strong> contributions to political causes in Nebraska since <span class="minyear"></span>.</p>
            <p><a href="/campaign-finance/about">Learn more about this data &raquo;</a></p>
            </div>    
            {% returnsearch %}
            <div class="well">
            <h3 class="bold" style="margin-top:0;"><i class="fa fa-users"></i> Select a place</h3>
            <select class="form-control input-lg" onchange="if (this.value) window.location.href=this.value">
            {% for govt in governments %}
            <option value="campaign-finance/{{ govt.office_govt|slugify }}">{{ govt.office_govt }}</option>
            {% endfor %}
            </select>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="http://dataomaha.com/media/scripts/tablesorter/jquery.tablesorter.min.js"></script>
<script>

    var getYear = function(y) {
        return new Date(y, 0, 1).getTime();
    };
    
    var addCommas = function(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    };

    var formatter = function(val, axis) {
        return '$' + addCommas(val);
    };
    
    var recent = []
    
    var by_year = [{% for dude in byyear %}{"year":{{ dude.donation_year }}, "sum":{{ dude.sum }}}{% if not forloop.last %},{% endif %}{% endfor%}];

    var d1 = [];
    
    _.each(by_year, function(d) {
        d1.push([getYear(d.year), d.sum]);
    });
    
    var minyear = _.min(_.pluck(by_year, "year"));
    var maxyear = _.max(_.pluck(by_year, "year"));
    
    $('.minyear').text(minyear);
    $('.maxyear').text(maxyear);
    
    var chartIt = function() {
        $.plot($("#chart"), [d1], {
            series: {
                bars: {
                    show: true,
                    fill: true,
                    fillColor: '#333',
                    align: "center"
                },
              color: "#fff"
            },
            bars: { barWidth: 60*60*24*365*1000 },
            shadowSize: 0,
            xaxis: {
                mode: "time",
                tickLength: 0
            },
            yaxis: {
                tickFormatter: formatter
            },        
            grid: {
                borderWidth: 0.5,
                axisMargin: 0,
                borderColor: '#eee',
                color: '#eee',
                labelMargin:15
                }
        });
    };

    
    $.tablesorter.addParser({ 
        id: 'currency',
        is: function(s) {
            return false;
        }, 
        format: function(s) {
            return s.replace('$','').replace(/,/g,'');
        },
        type: 'numeric' 
    }); 
    
    $(document).ready(function() {
        chartIt();
        $(".tablesorter").tablesorter({
            headers: {
                3: {
                    sorter: 'currency'
                }
            }
        });
    });
        
    window.onresize = function() {
        chartIt();
    };

        var $tw = $('#tw');
        var $fb = $('#fb');
        var msg = "https://twitter.com/intent/tweet?text=" + encodeURIComponent("New from @dataomaha @owhnews: Search {{ DONATION_TOTAL|intcomma }} Nebraska campaign finance records since " + minyear + ": http://www.dataomaha.com/campaign-finance");
        $tw.attr({
            'href': msg,
            'target': '_blank'
        });
        $fb.attr({
            'href':'http://www.facebook.com/sharer.php?u=http://dataomaha.com/campaign-finance',
            'target': '_blank'           
        });
</script>
{% endblock %}
