{% extends 'nadc/base.html' %}
{% load humanize %}
{% load searchwidget %}

{% block social %}{% endblock %}

{% block content %}
<div class="container" style="margin-bottom:50px;">

<div class="row">
        <div class="col-md-8">
        
<div id="topdonors" class="item">
<br><br><br>
{% if candidate_results or entity_results %}
<h3>Search results for '{{ query }}'</h3>

<ul>
{% for match in candidate_results %}
<li><a href="/campaign-finance/{{ match.cand_id }}/{{ match.cand_name|slugify }}">{{ match.cand_name|title }} (Candidate for {{ match.office_sought|title }} {{ match.office_desc|title }})</a>
{% endfor %}
{% for match in entity_results %}
<li><a href="/campaign-finance/{{ match.canonical }}/{{ match.standard_name|slugify }}">{{ match.standard_name|title }}</a></li>
{% endfor %}
</ul>
{% endif %}


</div>
</div>

</div>
{% returnsearch %}
</div>
{% endblock%}

